- action_url = params[:action] == 'new' ? collection_url : resource_url
= simple_form_for resource, url: action_url do |f|
  = f.input :date
  = f.input :city_state
  = f.input :venue
  = f.input :ticket_url
  = f.input :facebook_url
  = f.input :lat, label: 'latitude'
  = f.input :lng, label: 'longitude'

  .form-group
    .col-lg-1.col-lg-offset-1
      = f.submit class: 'btn btn-success'
