- action_url = @tour_date.persisted? ? resource_url : collection_url
= simple_form_for resource, url: action_url do |f|
  - if @tour_date.errors.any?
    #error_explanation
      %h2
        #{ pluralize(@tour_date.errors.count, "error")} prohibited this tour date from being saved:

      %ul
        - @tour_date.errors.full_messages.each do |msg|
          %li= msg

  = f.input :date
  = f.input :city_state
  = f.input :venue
  = f.input :ticket_url
  = f.input :facebook_url
  = f.input :lat, label: 'latitude'
  = f.input :lng, label: 'longitude'

  .form-group
    .col-lg-1.col-lg-offset-1
      = f.submit class: 'btn btn-success'
