%tr
  %td
    %a.btn.btn-default{href: edit_tour_tour_date_path(@tour, tour_date), role: 'button'} Edit
  %td
    = link_to "Delete", tour_tour_date_path(@tour, tour_date), :method => :delete, class: "delete btn btn-danger", confirm: "Are you sure ?"
  %td= tour_date.id
  %td= tour_date.date
  %td= tour_date.city_state
  %td= tour_date.venue
  %td= tour_date.ticket_url
  %td= tour_date.facebook_url
  %td= tour_date.lat
  %td= tour_date.lng
