%tr
  %td
    = link_to 'Edit', edit_resource_url(tour_date), class: 'btn btn-warning btn-xs'
    &nbsp;
    = link_to "Delete", resource_url(tour_date), :method => :delete, class: "delete btn btn-danger btn-xs", confirm: "Are you sure ?"
  %td= tour_date.id
  %td= tour_date.date
  %td= tour_date.city_state
  %td= tour_date.venue
  %td= tour_date.ticket_url
  %td= tour_date.facebook_url
  %td= tour_date.lat
  %td= tour_date.lng
