#map_canvas
:javascript
  TrailerSwift.loadMap(#{@lat || 47.62}, #{@lng || -122.4});

  TrailerSwift.locations = new TrailerSwift.Collections.Locations(#{@locations.to_json});

  TrailerSwift.tourDates = new TrailerSwift.Collections.TourDates(#{@tour_dates.to_json});

  TrailerSwift.instagramPhotos = new TrailerSwift.Collections.InstagramPhotos(#{@instagram_photos.to_json});

  TrailerSwift.app = new TrailerSwift.Views.App();
