-#%h1 TRAILER SWIFT
/ Google Public Location Badge
-#%iframe{:frameborder => "0", :height => "500", :src => "http://latitude.google.com/latitude/apps/badge/api?user=8949921407316125013&type=iframe&maptype=hybrid", :width => "900"}
/ To disable location sharing, you *must* visit https://www.google.com/latitude/apps/badge and disable the Google Public Location badge. Removing this code snippet is not enough!

#map_canvas
:javascript
  TrailerSwift.loadMap(#{@lat}, #{@lng});
  TrailerSwift.locations = new TrailerSwift.Collections.Locations(#{@locations.to_json});
  TrailerSwift.tourDates = new TrailerSwift.Collections.TourDates(#{@tour_dates.to_json});
  TrailerSwift.userLocation = new TrailerSwift.Models.UserLocation(#{@user_location.to_json});
  TrailerSwift.closestTourDate = #{@closest_tour_date};
  TrailerSwift.boundingBox = #{@bounding_box};
  TrailerSwift.app = new TrailerSwift.Views.App();
