- action_url = params[:action] == 'new' ? collection_url : resource_url
= simple_form_for resource, url: action_url, :html => {:multipart => true} do |f|
  = f.input :name

  = f.input :tour_image, :as => :file
  - if resource.tour_image.present?
    .form-group
      .col-lg-1.col-lg-offset-1
        = image_tag resource.tour_image.small.url

  .form-group
    .col-lg-1.col-lg-offset-1
      = f.submit class: 'btn btn-success'

