- action_url = resource.persisted? ? resource_url : collection_url
= simple_form_for resource, url: action_url do |f|
  - if resource.errors.any?
    #error_explanation
      %h2
        #{ pluralize(resource.errors.count, "error")} prohibited this #{ resource.class.model_name.human.downcase } from being saved:

      %ul
        - resource.errors.full_messages.each do |msg|
          %li= msg

  - attrs_for_form.each do |attr|
    = f.input attr

  .form-group
    .col-lg-1.col-lg-offset-1
      = f.submit class: 'btn btn-success'
